#Capstone Project
This is the python notebook used for the final course project of the IBM Data Scientist Specialisation

**First, lets retrieve the data using BeautifulSoup!**

In [0]:
import requests
from bs4 import BeautifulSoup

#getting the html informations
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

res = requests.get(url).text

soup = BeautifulSoup(res, 'lxml')

tables = soup.find('table', {'class' : 'wikitable sortable'})

A=[]
B=[]
C=[]
#Storing the cells of each row in a list
for row in tables.find_all('tr'):
  cell = row.find_all('td')
  if len(cell) == 3 :
    A.append(cell[0].find(text=True).strip())
    B.append(cell[1].find(text=True).strip())
    C.append(cell[2].find(text=True).strip())

In [3]:
#converting the lists into a data frame
import pandas as pd
df = pd.DataFrame(A, columns=['PostalCode'])
df['Borough'] = B
df['Neighborhood'] = C

df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [7]:
#Cleaning the data
index_val = df[df['Borough'] == 'Not assigned'].index

df.drop(index_val, inplace=True)
df.reset_index(drop=True, inplace=True)
df

    PostalCode  ...                                       Neighborhood
0          M3A  ...                                          Parkwoods
1          M4A  ...                                   Victoria Village
2          M5A  ...                          Regent Park, Harbourfront
3          M6A  ...                   Lawrence Manor, Lawrence Heights
4          M7A  ...        Queen's Park, Ontario Provincial Government
..         ...  ...                                                ...
98         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99         M4Y  ...                               Church and Wellesley
100        M7Y  ...  Business reply mail Processing Centre, South C...
101        M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102        M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

In [5]:
#No Neighborhood left unassigned
df[df['Neighborhood'] == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [6]:
df.shape

(103, 3)